<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Question</title>
    <link rel="stylesheet" href="./asserts/css/bootstrap.min.css">

  </head>
  <body>
  <div class="container-fluid" id="app">
    <form>
      <div class="form-group mt-2">
        <label for="exampleFormControlFile1">Выберите изображение:</label>
        <input :key="finished" multiple type="file" @change="onloadFile" class="form-control-file" id="exampleFormControlFile1">
        <label for="">Выберите подсказку:</label>
        <input :key="selectedFile"  type="file" @change="onloadHint" class="form-control-file" id="">
      </div>
      <div :key='fileIndex' v-if="selectedFilePath && !finished" class="container mx-auto mt-2 list-group-item row">
        <div class="" style="width: 20rem">
          <img :src="selectedFilePath" class="img-fluid" style="max-width: 100%;height: auto;" alt="">
        </div>
        <div class="row mt-4 ml-2">
          <div v-for="label in ['A','B','C','D']" class="form-check ml-2 mb-2" >
            <input class="form-check-input" type="checkbox" @change="set_answers(label)" name="exampleRadios" id="exampleRadios1">
            <label class="form-check-label" for="exampleRadios1">
              {{label}}
            </label>
          </div>
        </div>
        <div :key="fileIndex" class="text-muted">
          {{fileIndex+1}} из {{selectedFiles.length}}
        </div>
      </div>
      <button type="button" class="btn btn-primary mt-2" @click="saveQuestion" name="button">Добавить</button>
      <button type="button" class="btn btn-danger mt-2" @click="closeWindow" name="button">Отмена</button>

    </form>

  </div>
  </body>
  <script type="text/javascript" src="./asserts/js/vue.js"></script>
  <script>
    var fs=require('fs')
    require('bootstrap')

    const urlParams = new URLSearchParams(window.location.search);
    console.log(urlParams.get('path'))
    var app=new Vue({
      el:'#app',
      data:{
        selectedFilePath:'',
        selectedFiles:'',
        selectedFile:'',
        path:urlParams.get('path'),
        selectedAnswers:[],
        fileIndex:0,
        finished:false,
        selectedQuestionHint:'',
      },
      methods:{
        onloadHint(event){
          this.selectedQuestionHint=event.target.files[0]
        },
        onloadFile(event){
          this.finished=false
          this.selectedFiles=event.target.files
          this.selectedFilePath=this.selectedFiles[this.fileIndex].path
          this.selectedFile=this.selectedFiles[this.fileIndex]
        },
        closeWindow(){
          window.close()
        },
        set_answers(label){
          if(this.selectedAnswers.includes(label))
            this.selectedAnswers.splice(this.selectedAnswers.indexOf(label),1)
          else
            this.selectedAnswers.push(label)
        },
        saveQuestion(){
          let number_files=fs.readdirSync(this.path).length+1
          let filename=number_files+'.'+this.selectedFile.name.split('.')[1]
          let json_file=JSON.parse(fs.readFileSync('./data.json'))
          if(this.selectedQuestionHint){
            let hint_filename="p_"+number_files+'.'+this.selectedQuestionHint.name.split('.')[1]
            json_file[this.path+"/"+filename]={answers:this.selectedAnswers,hint:"./hints/"+hint_filename}
          }
          else
            json_file[this.path+"/"+filename]={answers:this.selectedAnswers,hint:''}

          fs.writeFileSync('./data.json',JSON.stringify(json_file))
          let image_data=fs.readFileSync(this.selectedFilePath)
          fs.writeFileSync(this.path+'/'+filename,image_data)
          if(this.selectedQuestionHint){
            let hint_data=fs.readFileSync(this.selectedQuestionHint.path)
            fs.writeFileSync('./hints/'+hint_filename,hint_data)
            
          }
          console.log(JSON.parse(fs.readFileSync('./data.json')))
          if(this.selectedFiles.length-1>this.fileIndex){
            this.fileIndex+=1
            this.selectedFilePath=this.selectedFiles[this.fileIndex].path
            this.selectedFile=this.selectedFiles[this.fileIndex]
            this.selectedQuestionHint=''
          }
          else
            this.finished=true
        }
      }
    })
  </script>
</html>
