<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./asserts/css/bootstrap.min.css">

  <title>Name company</title>
</head>
<body>
  <div id="app">
    <header><h1 class="text-muted">Logo</h1></header>
    <main>
      <div class="container">
        <div class="form-group">
          <label for="name">Фамилия:</label>
          <input type="text" v-model="name" class="form-control" id="name" aria-describedby="Name">

        </div>
        <div class="form-group">
          <label for="surname">Имя:</label>
          <input type="text" v-model="surname" class="form-control" id="surname" aria-describedby="Surname">
        </div>
        <div class="form-group">
      <label for="exampleFormControlSelect1">Выберите предмет:</label>
      <select @change="get_themes" v-model="selectedSubject" class="form-control mb-2" id="exampleFormControlSelect1"  >
        <option v-for="subject in subjects">{{subject}}</option>
      </select>
      <label for="topiclist" v-if="themes.length" >Выберите темы:</label>
        <div class="" id="list-item-1">
          <div class="list-group mb-2" id="topiclist" >
            <div class="" v-for="theme in themes">
              <button type="button" data-toggle="collapse"  :data-target="'#'+theme.id" aria-expanded="false" :aria-controls="(theme.id)"  @click="setActive(theme.id,theme.theme.theme)" class="list-group-item list-group-item-action" ref="theme">
                {{theme.theme.theme}}
              </button>
              <div class="collapse" :id="theme.id">
                <div class="form-check ml-2 " v-for="subtheme in theme.theme.sub_theme">
                  <input class="form-check-input" @change="set_subthemes(subtheme)" type="checkbox" name="exampleRadios" id="exampleRadios1">
                  <label class="form-check-label" for="exampleRadios1">
                    {{subtheme}}
                  </label>
                </div>
              </div>
            </div>
            <button class="btn btn-secondary btn-sm" type="button" @click="refresh">Обновить</button>


            </div>
        </div>

      </div>

      <!-- Default unchecked -->
      <div class="form-check ml-2 mb-2" >
        <input class="form-check-input" v-model="tips" type="checkbox" name="exampleRadios" id="exampleRadios1">
        <label class="form-check-label" for="exampleRadios1">
          Подсказки
        </label>
      </div>


      <button class="btn btn-primary" type="button" @click="startTest">Начать тест!</button>

      <button class="btn btn-danger" type="button" @click="closeWindow">Выйти</button>

    </div>
      </div>
    </main>


  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="./asserts/js/vue.js">
</script>
  <script  >
  require('./main.js')
  require('bootstrap')

  window.$ = require('jquery')
  window.JQuery = require('jquery')

  const app=require('electron').remote.app

  let win= require('electron').remote.getCurrentWindow()
  const dialog=require('electron').remote.dialog
  win.on('close',(e)=>{
    app.quit()
  })




  var vue = new Vue({
  el: '#app',
  data: {
    name:'',
    surname:'',
    subjects:'',
    selectedSubject:'',
    themes:[],
    selectedThemes:[],
    selectedSubThemes:[],
    tips:false

  },
  mounted(){
    this.startupCheck()
    this.subjects=get_subjects()
  },
  methods:{
    get(){
      console.log(this.name);
      console.log(this.surname);
      console.log(this.selectedSubject);
      console.log(this.selectedThemes)
      console.log(this.selectedSubThemes)
      console.log(this.tips);

    },
    set_subthemes(subtheme){
      if(this.selectedSubThemes.includes(subtheme))
        this.selectedSubThemes.splice(this.selectedSubThemes.indexOf(subtheme),1)
      else {
        this.selectedSubThemes.push(subtheme)
      }
    },
    refresh(){
      window.location.reload()
    },
    get_themes(){
      this.themes=get_themes_by_subjects(this.selectedSubject)

      // this.themes=['Math for dummies','Math for smarts']
      for(let i=0;i<this.themes.length;i++){
        this.themes[i]={id:i,theme:this.themes[i]}
      }
    },
    closeWindow(){
      app.quit()
    },
    setActive(id,name){
      if(this.selectedThemes.includes(name)){
        this.selectedThemes.splice(this.selectedThemes.indexOf(name),1)
        this.$refs.theme[id].className="list-group-item list-group-item-action"
      }
      else {
        this.selectedThemes.unshift(name)
        this.$refs.theme[id].className="list-group-item list-group-item-action active"

      }
      $('#'+id).collapse('toggle')

    },
    startTest:function(e){
      if(this.name && this.surname && this.selectedSubject && this.selectedSubThemes){
        ipcRenderer.send('start-test')
          // openTestWindow({
          //   name:this.name,
          //   surname:this.surname,
          //   selectedSubject:this.selectedSubject,
          //   selectedThemes:this.selectedThemes,
          //   selectedSubThemes:this.selectedSubThemes,
          //   tips:this.tips
          // })
      }
      else if(!this.selectedSubject){
        dialog.showMessageBoxSync({
          type:"error",
          title:"Ошибка",
          message:'Вы не выбрали предмет!'
        })

      }
      else {
        dialog.showMessageBoxSync({
          type:"error",
          title:"Ошибка",
          message:'Вы не заполнили все поля!'
        })
      }



    },
    startupCheck(){
      fs.access('./data.json', fs.F_OK, (err) => {
        if (err) {
          fs.writeFileSync('./data.json',JSON.stringify({}))
        }
      })
      if (!fs.existsSync("./categories")) {
        fs.mkdirSync('./categories')
      }
      if (!fs.existsSync('./hints'))
        fs.mkdirSync('./hints')

    }


  },


})






  </script>

</html>
