<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./asserts/css/bootstrap.min.css">

  <title>Test</title>
</head>
<body>
  <div id="app">
    <header><h1 class="text-muted">Logo</h1></header>
    <main>
      <div class="container">
        <div class="form-group">
          <label for="name">Фамилия:</label>
          <input type="text" v-model="name" class="form-control" id="name" aria-describedby="Name">

        </div>
        <div class="form-group">
          <label for="surname">Имя:</label>
          <input type="text" v-model="surname" class="form-control" id="surname" aria-describedby="Surname">
        </div>
        <div class="form-group">
      <label for="exampleFormControlSelect1">Выберите предмет:</label>
      <select @change="get_themes" v-model="selectedSubject" class="form-control mb-2" id="exampleFormControlSelect1"  >
        <option v-for="subject in subjects">{{subject}}</option>
      </select>
      <label for="topiclist" v-if="themes.length" >Выберите темы:</label>
      <div class="list-group mb-2" id="topiclist" >
        <button type="button" v-for="theme in themes" @click="setActive(theme.id)" class="list-group-item list-group-item-action"   ref="theme">
          {{theme.theme}}
        </button>
      </div>
      <!-- Default unchecked -->
      <div class="custom-control custom-radio mb-2">
        <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
        <label class="custom-control-label" for="defaultUnchecked">Подсказки</label>
      </div>


      <button class="btn btn-primary" type="button" onclick="start()">Начать тест!</button>
      <button class="btn btn-primary" type="button" @click="get">тест!</button>

    </div>
      </div>
    </main>


  </div>
<script type="text/javascript" src="./asserts/js/vue.js">
</script>
  <script  >
  require('./main.js')
  const {remote, ipcRenderer} = require('electron')
  let subjects=get_subjects()
  var app = new Vue({
  el: '#app',
  data: {
    name:'',
    surname:'',
    subjects:subjects,
    selectedSubject:'',
    themes:[],
    selectedThemes:[]

  },
  methods:{
    get(){
      console.log(this.name);
      console.log(this.surname);
      console.log(this.selectedSubject);
    },
    get_themes(){
      // this.themes=get_themes_by_subjects(this.selectedSubject)

      this.themes=['Math for dummies','Math for smarts']
      for(let i=0;i<this.themes.length;i++){
        this.themes[i]={id:i,theme:this.themes[i]}
      }
    },
    setActive(id){
      console.log(this.selectedThemes);
      if(this.selectedThemes.includes(id)){
        this.selectedThemes.splice(this.selectedThemes.indexOf(id),1)
        this.$refs.theme[id].className="list-group-item list-group-item-action"
      }
      else {
        this.selectedThemes.unshift(id)
        this.$refs.theme[id].className="list-group-item list-group-item-action active"

      }
    },

  },


})






  </script>

</body>
</html>
