<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./asserts/css/bootstrap.min.css">

  </head>
  <body>
    <div class="container-fluid mt-2" id="app" >
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Выберите предмет:</label>
          <select class="form-control" name="" @change="get_themes" v-model="selectedSubject">
            <option v-for="subject in subjects"  :value="subject">{{subject}}</option>
          </select>
          <button type="button" class="btn btn-primary mt-1" @click="addSubject()" name="button">Добавить предмет</button>
          <button type="button" class="btn btn-danger mt-1" name="button">Удалить предмет</button>

        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Выберите темы:</label>
          <select @change="get_subthemes" v-model="selectedTheme" class="form-control" id="exampleFormControlSelect1">
            <option v-for="theme in themes" :value="theme.theme">{{theme.theme}}</option>
           </select>
          <button type="button" class="btn btn-primary mt-1" name="button">Добавить тему</button>
          <button type="button" class="btn btn-danger mt-1" name="button">Удалить тему</button>

        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Выберите подтемы:</label>
          <select multiple  class="form-control" id="exampleFormControlSelect2">
            <option v-for="theme in subthemes" :value="theme">{{theme}}</option>
          </select>
          <button type="button" class="btn btn-primary mt-1" name="button">Добавить подтему</button>
          <button type="button" class="btn btn-danger mt-1" name="button">Удалить подтему</button>

        </div>

      </form>
    </div>

  </body>
  <script type="text/javascript" src="main.js"></script>

  <script type="text/javascript" src="./asserts/js/vue.js"></script>

  <script type="text/javascript">
    require('bootstrap')
    var vue=new Vue({
      el:"#app",
      data:{
        subjects:get_subjects(),
        selectedSubject:'',
        themes:'',
        selectedTheme:'',
        subthemes:'',
      },
      methods:{
        get(){
          console.log(this.selectedSubject);
        },
        get_themes(){
          this.themes=get_themes_by_subjects(this.selectedSubject)
          console.log(this.themes);
        },
        get_subthemes(){
          for(let theme of this.themes){
            if(this.selectedTheme===theme.theme){
              this.subthemes=theme.sub_theme
            }
          }
        },
        addSubject(){
          main.openWindow('createSubject',[])
        }
      }
    })
  </script>
</html>
